[Unit]
Description=Vyatta CPU History Daemon

[Service]
Type=dbus
BusName=net.vyatta.eng.cpu.history
ExecStart=/opt/vyatta/sbin/vyatta-cpu-history-daemon
Restart=on-failure

[Install]
RequiredBy=config-loaded.target
